.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-bottom: 1px solid #ababab;
}

/* @media screen and (max-width: 768px) {
  .register_title {
    font-size: 32px;
  }
} */
