.form {
  display: flex;
  flex-direction: column;
  width: 320px;
  gap: 15px;
  margin: 0 auto;
}

.register_title {
  color: #2196f3;
  font-size: 40px;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .register_title {
    font-size: 32px;
  }
}

.wrapper {
  background-color: rgba(255, 255, 255, 0.9);
  width: 430px;
  padding: 40px;
  border-radius: 20px;
  box-shadow: rgb(33 33 33) 0px 2px 10px;
  margin: 0 auto;
  margin-top: 60px;
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: 350px;
  }
}
